{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>
                Список профессий
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if list == 'ol' %}
                <ol>
                    {% for element in jobs %}
                        <li>
                            {{ element }}
                        </li>
                    {% endfor %}
                </ol>
            {% elif list == 'ul' %}
                <ul>
                    {% for element in jobs %}
                        <li>
                            {{ element }}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <h2>Ошибка</h2>
                <h3>Неверный параметр list</h3>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}