{% extends 'base.html' %}
{% block content %}
<form action="" method="post">
    {{ form.csrf_token }}
    <div class="container">
        <h1><img src="{{ url_for('static', filename='images/MARS-2-7.png') }}">Аварийный доступ</h1>
        <div class="row">
            <div class="col">
                {{ form.astronaut_id.label(class="form-label") }}
                {{ form.astronaut_id(class="form-control") }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form.astronaut_password.label(class="form-label") }}
                {{ form.astronaut_password(class="form-control") }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form.captain_id.label(class="form-label") }}
                {{ form.captain_id(class="form-control") }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                {{ form.captain_password.label(class="form-label") }}
                {{ form.captain_password(class="form-control") }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form.access(class="btn btn-primary") }}
            </div>
        </div>
    </div>
</form>

{% endblock %}